#container {
    display: flex;
    justify-content: center; 
    min-height: 400px;
    /* border: solid 1px #797979; */
    gap: 10px;
    padding: 10px;
    margin: 30px;
    
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 6px solid #ffd000; /* fundo bacana */
    border: 6px solid #ffb100;
    background-color: #fff6d2;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 0px 5px 15px #ccc;
}
.column:nth-child(2) {
    background-color: rgb(127, 251, 255);
    opacity: 1;
}
.column:nth-child(3) {
    background-color: rgb(170, 255, 159);
    text-decoration: line-through;
    opacity: .3
}

.item {
    font-weight: 500;
    background-color: #fff;
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 5px;
}

.dragging {
    opacity: 0.5;
}
.example {
    display: flex;
    min-height: 480px;
    background-image: url(example-cut.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}