body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    background-image: url("../assets/images/caff2.png");
   background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
    overflow: hidden;   desativa scroll;

    background-size: cover;
    background-position: center;
    padding: 10px 0 0 0 ;
    background-attachment: fixed;
}
nav  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffd3;
    color: #000;
    backdrop-filter: blur(30px);
    height: 48px;
    font-size: 15px;
    margin: 20px 0 0 0;
    justify-content: center;	    
}
nav>button {
    color: #fff;
    background-color: transparent;
    padding: 0 5px 0 5px;
    width: auto;
    text-align: center;
    border-color: #dfdfdf56;
    
}
nav>button:hover {
    background-color: #ffffff28;
}
nav>button:active {
    background-color: #ffffff28;
}
.container-clock-calendar {
display: flex;
flex-direction: row;
align-items: end;
margin: 20px 0 20px 0;
}
.clock {
font-size: 42px;
text-shadow: 1px 3px 5px #141414;
}

.wd-dd-mm {
display:flex;
flex-direction: row;
margin: 2px;
font-size: 18px;
text-shadow: 1px 3px 5px #141414;
}
.container-tabs {
    display: flex;
    max-width: 1000px;
    align-content: center;
    justify-content: center;
}
div#week-day {
text-transform: Captalize;
padding:5px 5px 5px 5px;
}
div#day {
padding:5px 0 5px 0;
}
div#month {
padding:5px 0 5px 5px;
}
.container {
    align-items: center;
    justify-content: center;
    background-color: #0000000f; 
    margin: 0;
    padding: 0;
    max-width: 1000px;
}

div.tabbed {
    position: relative;
    width: 82%;
    align-items: center;
    justify-content: center;
    background-color: #0000000f; 
    margin: 0;
    padding: 0;
    max-width: 1000px;
/*     box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.582); */
    border-left: 1px solid rgba(246, 255, 229, 0.493);
    border-bottom: 1px solid rgba(246, 255, 229, 0.493);
    border-right: 1px solid rgba(246, 255, 229, 0.493);
    border-top: 1PX SOLID rgba(246, 255, 229, 0.493);
    border-radius: 0.8em 0.8em 0.8em 0.8em;
}

/*
div.tab:target {
    display: block;
} 
div.tab {
    display: none;
} */

ul {
    width: auto;
    background-color: rgba(255, 255, 255, 0.150 );
    border-radius: 0.8em 0.8em 0 0;
    border: 1px solid rgba(246, 255, 229, 0.493);
    padding: 0;
    margin: 0;
    float: left;
}

/* li  {
    margin-right: 2.5px;
    position: relative;
    float: left;
    padding: 5px 5px 3px 5px;
    list-style: none;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    border-top: 3px solid transparent;
    border-radius: 08px 08px 0px 0px;
}
li:nth-child(3) {

    margin-right: 0;
}
 

li:hover {
    background-color: rgba(255, 255, 255, 0.315);
    border-top: 2px solid rgb(27, 230, 8);
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
} */
/* li:active {
    background-color: rgba(255, 255, 255, 0.315);
    border-top: 2px solid rgb(27, 230, 8);
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
} */

h1 {
        font-size: 17px;
        text-shadow: 1px 1px 3px rgb(7, 7, 7);
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    footer {
        display: flex;   
        align-items: end;  
        text-align: center;
        justify-content: center;
        height: 20px;
        margin: 20px 0 10px 0;
        position: unset;
    }
    .click-box {
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        margin: 10px;
        height: 50px;
        width: 130px;
        background-color: rgba(226, 226, 226, 0.747);
        padding: 10px;
        border-radius: 0.8em;
        box-shadow: 1px 1px 20px #00000025;
        border: 1px solid transparent;
        cursor:pointer;
        backdrop-filter: blur(5px);
        background-color: rgb(255 255 255 / 18%); 
    }
    .click-box:hover{
        background-color: rgba(247, 247, 247, 0.74);
        box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.932);
        /* margin-top: 3px; */
        transform: scale(1.03);
        transition: .1s;
    }
    .section-boxes {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        padding: 0;
        Background-color: #0000000f;
    }
    .section-boxes a { 
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 12px;
        font-weight: 800;
        text-shadow: 2px 3px 5px rgb(0, 0, 0);
    }
    footer a {
        color: white;
        text-decoration: none;  
        bottom:3px;
        font-size: 12px;
        text-shadow: 1px 1px 3px rgb(7, 7, 7);
    }
    img {
        width: 55px;
        opacity: 80%;
        margin-right: 10px;
    }
   
/*  o seletor abaixo seleciona a seção na ordem "3" */
  /*   section:nth-child(3) {
  background-color: lime;
}
 */
 
   /*  o seletor abaixo seleciona a seção na ordem de "3" em "3" */
   /*  section:nth-child(3n) {
  border:2px solid tomato;
} 
 */
 li a {
     color: white;
     text-decoration: none;
 }
h1 {
font-size: 15px;
}
div.container-simulators{
	margin-top: 70px;
    padding: 20px 50px 20px 50px;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    background-color:#ffffffd4;
    align-items: center;
	max-width: 1000px;
	color: #000;
	flex-direction: column;
	backdrop-filter: blur(30px);
    }

    .contain-simulator {
	color:#000;
        display: block;
        background: #fAfAfA;
        width: 280px;
        border-radius: .8rem;
        padding: 5px;
        box-shadow: 1px 2px 9px 3px #a8a8a8;
        margin-top: 30px;
    }

    .display {
        margin: 10px 0 10px 0;
        padding-left: 5px;
        text-align: start;
        height: 55px;
        border: 1px #999 solid;
        border-radius: .3rem;
        background-color: #fff;
        font-weight: 500;
	color: #000;
    }
    
    div.result {
        font-size: 15pt;
        font-weight: 100;
        text-align: end;
        padding-right: 5px;
        font-weight: 400;
	color: #000;
    }

    input {
        margin: 0 0 10px 0;
        text-align: end;
        padding-right: 5px;
        height: 30px;
        width: 97%;
        border: 1PX solid;
        border-radius: .3rem;
    }

    button {
        font-size: 11pt;
        font-weight: 600;
        width: 60px;
        padding: 8px 10px 8px 10px; 
        margin: 2px;
        border-radius: .3rem;
        cursor: pointer;
    }

    button#calcular {
        color: #fff;
        font-size: 12.5pt;
        font-weight: 700;
        margin: 10px;
        width: 92%;
        padding: 0;
        border: none;
        background-color: rgb(63, 132, 196);
	background-image: linear-gradient(to bottom,#08c,#04c);
	opacity: .8;
    height: 40px;
    }
   
    button#calcular:hover {
        opacity: 1;
    }
    button#calcular:active {
        opacity: .8;
    }
	
     h4.title-simulator {
        text-align: center;
        color: #105cbe
    }

    .btn-acess {
        height: 40px;
        margin-right: 10px;
        border: none;
        padding: 0 10px 42px 10px;
        cursor: pointer;
        border-radius: 4px;
        font-weight: bold;
        color:#000;
    }
    h1 {
        text-shadow: none;
    }
    .btn-acess:hover {
        bbackground-color: rgb(63, 132, 196);
    	background-image: linear-gradient(to bottom, #08c, #04c);
        color: white;
        border-radius: 5px;
    }

    .btn-acess.active {
        background-color: rgb(63, 132, 196);
    	background-image: linear-gradient(to bottom, #08c, #04c);
        color: white;
        border-radius: 5px;}
